/* INDEX CSS ------------------------------------------------------------------------------------------------------- */

/* ESTILOS BASIC & NAV -----------------------------------*/
.main__section2{
    flex-direction: row-reverse;
    margin-bottom: 4em;
}

.main__index__nav{
    padding-top: 5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    & div{
        font-size: smaller;
        padding: 1em;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        &:hover{
            color: grey;
            text-decoration: underline grey;
            border-left: solid 1px grey;
            border-right: solid 1px grey;
        }
    }
}

/* ESTILOS NOTICIAS ---------------------------------------*/
.main__article{
    &__primary{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-items: center;
        width: 100%;
        padding: 2em;
        &--image {
            width: 50em;
            height: 34em;
        }
        &--content{
            display: flex;
            flex-direction: column;
            & strong:hover{
                color: grey;
                text-decoration: underline grey;
            }
        }
    }
    &__secondary{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 2em;
        & div{
            & img{
                width: 10em;
                height: 6em;
            }
            padding:  0.5em;
            & strong:hover{
                color: grey;
                text-decoration: underline grey;
            }

        }
    }
    & div{
        height: 100%;
    }
}

@media screen and (max-width: 1280px){
    .main__index__nav{
        font-size: small;
    }

    .main__index__nav div{
        font-size: small;
    }

    .nav--img{
        width: 10em;
    }
}