/* INDEX CSS ------------------------------------------------------------------------------------------------------- */

/* ESTILOS BASIC & NAV -----------------------------------*/
.main__section2{
    flex-direction: row-reverse;
    margin-bottom: 4em;
}

.main__index__nav{
    padding-top: 5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.main__index__nav div{
    background-color: lightslategray;
    padding: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

/* ESTILOS NOTICIAS ---------------------------------------*/
.main__article__primary{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
}

.main__article__primary--image {
    width: 10em;
    height: 10em;
}

.main__article__primary--content{
    display: flex;
    flex-direction: column;
}

.main__article__primary div{
    margin: 5em 0;
    background-color:lightslategray;
}

.main__article__secondary{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 33%;
}

.main__article__secondary div{
    background-color:lightslategray;
    height: 100%;
}

@media screen and (max-width: 1280px){
    .main__index__nav{
        font-size: small;
    }

    .main__index__nav div{
        font-size: small;
    }

    .nav--img{
        width: 10em;
    }
}