/* LOGIN CSS ------------------------------------------------------------------------------------------------------- */
.main{
    &--login{
        min-height: 100vh;
    }
    &__sectionlog{
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        &__registerContainer{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            background-color: black;
            width: 40%;
        }
        &--register{
            color: white;
            width: 80%;
            & p{
                padding: 2em;
            }
        }
        &__loginContainer{
            width: 60%;
            background-color: white;
            display: flex;
            justify-content: center;
        }
        &--login{
            background-color: white;
            display: flex;
            flex-direction: column;
            width: 40%;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
    }
}

@media screen and (max-width: 1280px){
    .main__sectionlog{
        flex-direction: column;
    }
    .main__sectionlog__loginContainer{
        width: 100%;
    }
    .main__sectionlog__registerContainer{
        width: 100%;
    }
}